body {
    font-family: 'Montserrat', sans-serif;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header a {
    font-size: 14px;
}

header button {
    background-color: #e20000 !important;
}

header button i {
    color: white;
}

header nav li a:hover {
    color: #e20000;
}

nav ul {
    justify-content: space-between;
}

#btn-CV {
    background-color: #e20000;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
}

#btn-CV:hover {
    background-color: #370a6d;   
}

#inicio main, #contacto main {
    height: 77.9vh;
}

#proyectos main {
    height: 77.9vh;
} 

#inicio main .container {
    position: relative;
    top: 78%;
}

#inicio main p {
    font-size: 24px;
    font-weight: 300;
    color: white;
    border-style: solid;
    border-radius: 30px;
    border-width: thin;
    width: max-content;
    display: inline;
    padding: 10px 20px;
}

footer i{
    font-size: 20px;
}

@media (max-width: 768px) {
    #inicio main p {
    font-size: 12px;
    padding: 10px 11px;
    }

    footer div{
        font-size: 12px !important;
    }

    footer div i{
        font-size: 28px !important;
    }

    #contacto main, #proyectos main {
        height: auto !important;
    }

    #contacto main form button {
        padding: 10px 30px !important;
    }

    footer #icono-whatsapp {
        padding-bottom: 26px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 28px !important;
    }

    p {
        font-size: 12px !important;
    }

    #contacto input, #contacto textarea {
        font-size: 11px !important;
    }

    #proyectos img {
        height: 23vh !important;
    }

    #sobre-mi #ico-chicos i {
        font-size: 32px !important;
    }

    #sobre-mi #ico-chicos #btn-CV {
        font-size: 11px !important;
        padding: 8px 20px !important;
    } 
    
    #sobre-mi h2 {
        font-size: 20px !important;
    }

    #sobre-mi #div-rojo i {
        font-size: 50px !important;
        margin-bottom: 15px !important;
        margin-top: 26px !important;
    }

    #sobre-mi #fila1 div, #sobre-mi #fila2 div, #sobre-mi #fila3 div {
        height: 18vh !important;
    } 
    
    #sobre-mi h3 {
        font-size: 12px !important;
    } 
    
    #sobre-mi #idiomas i, #sobre-mi #hobbies i {
        font-size: 50px !important;
        width: -webkit-fill-available !important;
    }  
    
    #sobre-mi #exp-lab i, #sobre-mi #estudios i {
        font-size: 50px !important;
    }    

    #sobre-mi #exp-lab p, #sobre-mi #estudios p {
       padding: 23px 13px !important;
    } 
    
    footer .linkedin {
        padding: 4.5px 5.2px !important;
        bottom: 2.8px !important;
    }  
    
    #sobre-mi .apache{
        width: 46px !important;
    }

    #sobre-mi #div-rojo img{
        width: 92px !important;
    }  
}

#inicio main a {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

#inicio #btn-trabajos {
    border-radius: 60px;
    padding: 10px 20px;
    font-weight: 800;
    border-style: none;
    box-shadow: 2px 3px 10px rgb(0,0,0,0.3);
    font-size: 14px;
    background-color: white;
    color: #370a6d;
    text-decoration: none;
}

#inicio #btn-trabajos:hover {
    background-color: #370a6d;
    color: white;
}

h1 {
    color: #e20000;
    font-size: 35px;
    font-weight: bold;
}

p {
    color: #6A6A6A; 
    font-size: 15px;   
}

footer a {
    color: white;
}

footer {
    color: white;
}

#proyectos footer, #sobre-mi footer {
    color: #e20000;
}

#proyectos footer a, #sobre-mi footer a {
    color: #e20000;
}

footer .subrayar{
    text-decoration: underline;
}

footer div {
    font-size: 12px;
}

footer div i{
    font-size: 30px;
}

footer .col-6 .mt-3 .text-right {
    background-color: red;
}

footer .linkedin {
    background-color: white;
    color: red;
    border-radius: 40px;
    padding: 4.8px 5.5px;
    position: relative;
    bottom: 3.5px;
}

#icono-whatsapp {
    background-color: #370a6d;
    padding-bottom: 37px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px 15px 0px 0px;
    padding-top: 14px;
    color: white;
}

#icono-whatsapp:hover {
    color: #08fa1c !important;
}

@media (orientation: portrait) {
    #inicio {
        background-image: url(../images/fondo-inicio-mobile.png);
    }

    #contacto {
        background-image: url(../images/fondo-contacto-mobile.png);
    }
}

@media (orientation: landscape) {
    #inicio {
        background-image: url(../images/fondo-inicio.png);
    }

    #contacto {
        background-image: url(../images/fondo-contacto.png);
    }
}

#inicio {
    
}

#contacto {
    background-image: url(../images/fondo-contacto.png);
}

#proyectos {
    background-image: url(../images/fondo-proyectos.png);
}

#sobre-mi {
    background-image: url(../images/fondo-proyectos.png);
}

.nav-link {
    color: black;
    font-weight: normal;
}

.nav-item .active {
    border: 1px solid red;
    border-radius: 20px;
    width: max-content;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: 0px;
    padding-bottom: 0px;
}    

#contacto input, #contacto textarea {
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgb(0,0,0,0.3);
    font-size: 12px;
    height: 39px;
    color: rgb(0,0,0,0.5);
    border: none;
} 

#contacto textarea {
    height: 172px;
}    

/*#contacto #recaptcha {
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgb(0,0,0,0.3);
    font-size: 12px;
}*/

#contacto main form button {
    border-radius: 60px;
    padding: 10px 60px;
    font-weight: 800;
    border-style: none;
    box-shadow: 2px 3px 10px rgb(0,0,0,0.3);
    font-size: 14px;
    background-color: white;
    color: #370a6d;
}

#contacto main form button:hover {
    background-color: #370a6d;
    color: white;
}

#proyectos h1 {
    font-weight: bold;
    font-size: 35px;
}

#proyectos #proyectos-box p {
    font-size: 12px;
    padding: 5px 10px 20px 16px;
}

#proyectos h2 {
    font-weight: bold;
    font-size: 15.22px;
}

#proyectos main #proyectos-box h2 {
    color: white;
    margin-left: 16px;
    padding: 20px 0;
}

#proyectos .n-proyecto {
    border-style: solid;
    border-radius: 15px;
    border: none;
    border-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
}

#proyectos main .btn-proyecto {
    background-color: #e20000;
    color: white;
    border-radius: 20px;
}

#proyectos main .btn-codfuente {
    color: red;
}

#proyectos img {
    width: 100%;
    height: 17vh;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
}

#proyectos main #proyectos-box .gradiente {
    background: linear-gradient(to right, darkred, red);
}

#proyectos main #proyectos-box .txt {
    height: 115px;
}

#proyectos #proyectos-box a {
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;
}

#proyectos p {
    font-size: 15px;
}

#proyectos #btn-ver-online {
    padding: 10px 30px !important;
}

#sobre-mi #ico-chicos i {
    font-size: 40px;
    color: #e20000
}

#sobre-mi #ico-chicos #btn-CV {
    background-color: #e20000;
    color: white;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 60px;
    padding: 9px 20px;
    position: relative;
    bottom: 9px;
}

#sobre-mi #emoji {
    border-radius: 100%;
    width: 400px;
}

#sobre-mi #fila1 div, #sobre-mi #fila2 div, #sobre-mi #fila3 div {
    height: 21vh;
    border-radius: 15px;
}

#sobre-mi #fila1 i, #sobre-mi #fila2 i, #sobre-mi #fila3 i {
    font-size: 75px;
    margin-bottom: 33px;
    margin-top: 35px;
    color: rgb(78, 74, 74);
}

#sobre-mi h2 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#sobre-mi h3 {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 20px;
}

#sobre-mi #div-rojo {
    background: linear-gradient(to right, darkred, red);
}

#sobre-mi #div-gris-1, #sobre-mi #estudios, #sobre-mi footer {
    background-color: #ededed;
}

#sobre-mi #idiomas i, #sobre-mi #hobbies i {
    color: white;
    font-size: 64px;
    background-color: #370a6d;
    border-radius: 15px;
    width: 160px;
}

#sobre-mi #div-gris-1 li {
    list-style: none;
    font-size: 12px;
}

#sobre-mi #div-gris-1 h3 {
    font-size: 17px;
    font-weight: bold;
}

#sobre-mi #idiomas .idiomas, #sobre-mi #idiomas .hobbies {
    border-radius: 20px;
}

#sobre-mi #text-exp-lab, #sobre-mi #text-estudios {
    color: #370a6d;
    font-size: 25px;
    font-weight: bold;
}

#sobre-mi #text-estudios {
    color: #e20000;
}

#sobre-mi #exp-lab i, #sobre-mi #estudios i {
    color: #370a6d;
    font-size: 60px ;
}

#sobre-mi #estudios i {
    color: #e20000;
}

#sobre-mi #exp-lab h3, #sobre-mi #estudios h3 {
    font-size: 17px;
    font-weight: bold;
    color: grey;
}

#sobre-mi #exp-lab h4, #sobre-mi #estudios h4 {
    font-size: 15px;
    font-weight: bold;
    color: #370a6d;
}

#sobre-mi #estudios h4 {
    color: #e20000;
}

#sobre-mi #exp-lab h5, #sobre-mi #estudios h5 {
    font-size: 12px;
    font-weight: 300;
    color: grey;
}

#sobre-mi #exp-lab li, #sobre-mi #estudios li {
    font-size: 12px;
    font-weight: 400;
    color: black;
}

#sobre-mi #exp-lab .btn a, #sobre-mi #estudios .btn a {
    color: white;
    background-color: #370a6d;
    padding: 9px 22px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
}

#sobre-mi #exp-lab .btn a:hover {
    background-color: #e20000;
}

#sobre-mi #estudios .btn a {
    background-color: #e20000;
}

#sobre-mi #estudios .btn a:hover {
    background-color: #370a6d;
}

#sobre-mi #exp-lab p, #sobre-mi #estudios p {
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    padding: 30px 16px;
    border-radius: 42px;
    width: min-content;
    margin-left: 20px;
    margin-top: 25px;
}

#sobre-mi #exp-lab .exp-lab, #sobre-mi #estudios .exp-lab {
    border-radius: 20px;
}

#sobre-mi footer .linkedin {
    background-color: #e20000;
    color: #ededed;
}

#sobre-mi #ico-chicos i:hover {
    color: #370a6d;
}

#sobre-mi #ico-chicos #btn-CV:hover {
    background-color: #370a6d;
}

/*#proyectos footer:hover {
    color: #370a6d;
}*/

#inicio footer .iconos:hover {
    color: #370a6d;
}

#sobre-mi footer .iconos:hover {
    color: #370a6d;
}

#proyectos footer .iconos:hover {
    color: #370a6d;
}

#contacto footer .iconos:hover {
    color: #370a6d;
}